doctype  html 
html(lang="en") 
   
   //- head portion of HTML Doc contains meta tags, css links etc
   include ./includes/head.jade

   body
   
      //- all sections 
      include ./includes/header.jade
      include ./includes/section.jade
      include ./includes/footer.jade
      
      //- javascript 
      include ./includes/js.jade
